* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(135deg, #090253, #ede9fe, #11058e);
    color: #1e3a8a;
}

header{
    background: linear-gradient(135deg, #1d4ed8, #9333ea);
    color: #ffffff;
    text-align: center;
    padding: 40px 20px;

}

header h1{
    font-size: 36px;
}

header p{
    margin-top: 10px;
    font-size: 16px;

}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 25px;
    background: linear-gradient(135deg, #fbcfe8, #c7d2fe);
    color:#07236e;
    margin: 30px auto;
    border-radius: 12px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.08);
    width: 85%;
}

.about img{
    width: 200px;
    border-radius: 50%;
    margin-right: 30%;
}
.about div{
    flex:1;
}

.about h2{
    margin-bottom: 10px;
}

.skills{
    padding: 40px;
    margin: 40px auto;
    width: 85%;
    background: linear-gradient(135deg, #fbcfe8, #c7d2fe);
    color: #07236e;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.skills ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.skills li{
    background: linear-gradient(135deg, #93c5fd,#c4b5fd);
    color: #07236e;
    padding: 10px;
    text-align: center;
    border-radius: 8px;

}

.projects{
    padding: 40px;
    background: linear-gradient(135deg, #fbcfe8, #c7d2fe);
    color: #07236e;
    margin: 40px auto;
    width: 85%;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.project-card{
    background:  linear-gradient(135deg, #93c5fd,#c4b5fd);;
    color: #07236e;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.resume{
    padding: 40px;
    text-align: center;
    background: linear-gradient(135deg, #fbcfe8, #c7d2fe);
    color:#07236e;
    margin: 40px auto;
    width: 85%;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

}

.resume a{
    text-decoration: none;
    background: linear-gradient(135deg, #f59e0b, #66ff1f);
    color: #1e3a8a;
    padding: 5px 5px;
    border-radius: 5px;
}

.contact{
    padding: 40px;
    background: linear-gradient(135deg, #fbcfe8, #c7d2fe);
    color: #07236e;
    margin: 40px auto;
    width: 85%;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);


}

.contact a{
    color: #4220ee;
    text-decoration: none;
}

.footer{
    background: linear-gradient(135deg, #1d4ed8, #9333ea);
    color: #f20d9a;
    text-align: center;   
    padding: 40px;    margin: 40px auto;
    width: 85%;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

