body { 
    margin: 0; 
    font-family: Arial, sans-serif; 
    text-align: center; 
} 
nav{
    background-color: darkgreen;
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 25px;
}
 nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
 }
 nav a:hover{
    text-decoration: underline;
 }
 
header { 
    background-color: green; 
    color: white; 
    padding: 20px; 
} 
 
header button { 
    padding: 8px 15px; 
    background-color: white; 
    color: green; 
    border: none; 
} 
 

.hero { 
    background-color: lightgreen; 
    padding: 40px 20px; 
} 
 
/* Common Section */ 
.section { 
    padding: 40px 20px; 
    background-color: mintcream;
} 
 
/* Container */ 
.container { 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    margin-top: 20px; 
} 
 
/* Boxes */ 
.box { 
    border: 1px solid gray; 
    padding: 20px; 
    width: 220px; 
} 
 
/* Buttons */ 
button { 
    padding: 8px 15px; 
    background-color: green; 
    color: white; 
    border: none; 
    margin-top: 10px; 
} 
 
/* Footer */ 
footer { 
    background-color: black; 
    color: white; 
    padding: 20px; 
} 
 
/* Responsive (for mobile) */ 
@media (max-width: 768px) { 
    .container { 
        flex-direction: column; 
        align-items: center; 
    } 
}

